@import 'reset';
@import 'extend';
body {
  font: 100% Helvetica, sans-serif;
  background-color: #efefef;
}

$color-primary: teal;

.title {
    color: $color-primary;
}

// deklarasi mixins
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}
  
// menggunakan mixins
.box { @include transform(rotate(-19deg)); }

@import 'operator';

@import 'list';